$primary-color: #0098DB;
$secondary-color: #FC6341;
$footer-color: #0C5987;
$text-color: #242424;
$text-secondary-color: #1C8EC0;
$white-color: #fff;
$header-color: #2BB5F2;
$light-blue-color: #EEF9FC;
$header-height: 65px;
$header-height-desktop: 80px;
$footer-height: 342px;
$footer-height-desktop: 283px;
