@import '../../styles/imports';

.booking-form {
  width: 100%;
  border: 3px solid $primary-color;
  border-radius: 3px;

  @include on-desktop {
    display: flex;
  }

  & > * {
    @include on-desktop {
      width: 100%;
      flex-grow: 1;
    }
  }

  &__list {
    box-sizing: border-box;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: scroll;

    @include on-desktop {
      position: absolute;
      left: 0;
      right: 0;
    }
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #E9E9E9;

    &--pointer {
      cursor: pointer;
    }
  }

  &__confirm-button {
    width: 100%;

    @include on-desktop {
      width: fit-content;
    }
  }
}

.MuiDateCalendar-root {
  background-color: $white-color;
  width: 100%;

  @include on-desktop {
    position: absolute;
  }
}
