@import '../../styles/imports';

.counter {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;

  &__button {
    cursor: pointer;
    border: 1px solid #e2e2e2;
    padding: 7px;
    display: flex;
    border-radius: 50%;

    & svg {
      width: 14px;
      height: 14px;
      color: $primary-color;
    }
  }
}
