@import '../../styles/imports';

.home-page {
  &__container {
    @include content-padding-inline;
  }

  &__top {
    padding-block: 40px;
    background-color: $light-blue-color;
    background-image: url(../../images/home-page-bcg-mobile.png);
    background-size: cover;
    background-position-y: 25%;

    @include on-tablet {
      padding-top: 50px;
    }

    @include on-desktop {
      padding-top: 70px;
      background-image: url(../../images/home-page-bcg-desktop.png);
    }
  }

  &__title {
    margin-bottom: 30px;
    color: $text-secondary-color;
    line-height: 25px;

    @include on-tablet {
      font-size: 28px;
      line-height: 30px;
    }

    @include on-desktop {
      line-height: 40px;
      font-size: 35px;
    }
  }
}
