@import './styles/reset';
@import './styles/imports';

@font-face {
  font-family: 'Gotham Pro';
  src: url('../public/fonts/gothampro_light.ttf');
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../public/fonts/gothampro_medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../public/fonts/gothampro_bold.ttf');
  font-weight: 700;
}

html {
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  color: $text-color;
}

.app {
  &--no-scroll {
    max-height: 100vh;
    overflow: hidden;

    @include on-tablet {
      max-height: unset;
      overflow: auto;
    }
  }

  &__main {
    min-height: calc(100vh - $header-height - $footer-height);
    
    @include on-desktop {
      min-height: calc(100vh - $header-height-desktop - $footer-height-desktop);
    }
  }
}
