@import './styles/reset';
@import './styles/imports';

@font-face {
  font-family: 'Gotham Pro';
  src: url('../public/fonts/gothampro_light.ttf');
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../public/fonts/gothampro_medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../public/fonts/gothampro_bold.ttf');
  font-weight: 700;
}

html {
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  color: $text-color;
}
