@import '../vars';

.button {
  cursor: pointer;
  background-color: $secondary-color;
  color: $white-color;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  border-radius: 3px;

  &--secondary {
    color: #797979;
    border: 2px solid #dcdcdc;
    background-color: $white-color;
  }
}